[submodule "Core"]
	path = Core
	url = git@github.com:VirtexEdgeDesign/VerticesEngine.Core.git
[submodule "Platform/Itchio"]
	path = Platform/Itchio
	url = git@github.com:VirtexEdgeDesign/VerticesEngine.Platform.Itchio.git
